body {
  width: 85%;
  margin: 0 auto;
}

.header {
  margin-top: 30px;
}

.header,
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dummy {
  display: none;
}

.menu {
  display: inline-block;
  width: 38px;
  height: 38px;
  cursor: pointer;
  position: relative;
  margin-right: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px grey;
  background-color: rgb(72, 72, 255);
  box-sizing: border-box;
  z-index: 2;
}

.menu_line-top,
.menu_line-middle,
.menu_line-bottom {
  display: inline-block;
  height: 1px;
  background-color: white;
  position: absolute;
  transition: 0.5s;
}

.menu_line-top {
  top: 12px;
  width: 10px;
}

.menu_line-middle {
  top: 19px;
  width: 18px;
}

.menu_line-bottom {
  top: 26px;
  width: 5px;
}

.menu.open span:nth-of-type(1) {
  top: 19px;
  width: 18px;
  transform: rotate(45deg);
}

.menu.open span:nth-of-type(2) {
  opacity: 0;
}

.menu.open span:nth-of-type(3) {
  top: 19px;
  width: 18px;
  transform: rotate(-45deg);
}


.nav {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: -100%;
  align-self: start;
  background: white;
  transition: .7s;
  text-align: center;
  z-index: 1;
}

.nav ul {
  margin-top: 200px;
}

.nav a {
  text-decoration: none;
}

.nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.nav a,
.nav button {
  font-weight: bold;
  font-size: 28px;
  color: rgb(72, 72, 255);
}

.nav li:not(:nth-of-type(3n)) {
  margin-bottom: 30px;
}

.in {
  transform: translateX(100%);
}

.title {
  font-weight: bold;
  font-size: 28px;
  color: rgb(72, 72, 255);
}

.search {
  display: flex;
  align-items: center;
  width: 48%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px grey;
  background-color: white;
}

.triangle {
  position: relative;
  width: 15%;
}

.triangle::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  background: url(../img/triangle.png) no-repeat;
  background-size: cover;
  width: 10px;
  height: 10px;
  transform: translate(0, -50%);
}

#area,
#genre,
#text {
  padding: 5px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#area,
#genre {
  width: 100%;
  border-right: solid 1px rgb(220, 220, 220);
}

#text {
  width: 70%;
  padding-left: 40px;
}

.search-mark {
  position: relative;
}

.search-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  background: url(../img/search.png) no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
  transform: translate(0, -50%);
}

.content {
  margin-top: 40px;
}